<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
	<title>EverMeal Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
	
	<link href="static/css/index.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">EverMea Admin</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class='left-bar'>
					<ul>
						{% for s in list %}
						{% if s == selected %}
						<li class="active"><a href="admin?menu={{ s }}">{{ s }}</a></li>
						{% else %}
						<li><a href="admin?menu={{ s }}">{{ s }}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="span10">
				<table style="margin:0 auto; text-align:center; margin-left: 85px;">
					<thread>
						<tr class='table title'>
							<th scope="col">
								번호
							</th>
							<th scope="col">
								아이디
							</th>
							<th scope="col"/>
							<th scope="col"/>
						</tr>
					</thread>
					<tbody class="table body">
						{% for p in pi %}
						<tr>
							<td>{{ p.id }}</td>
							<td>{{ p.name }}</td>
							<td class="content modify">
								<div><a href='#'>수정</a></div>
							</td>
							<td class="content delete">
								<div><a href='#'>삭제</a></div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class='button_insert'>
				<a href='#'>추가</a>
			</div>

			<script src="http://code.jquery.com/jquery.js"></script>
			<script src="static/bootstrap/js/bootstrap.min.js"></script>
		</body>
		</html>